:root {
  --primary-text-color: #757575;
  --black-title-color: #212121;
  --white-title-color: #ffffff;
  --accent-color: #2196f3;
}

body {
  background-color: #fff;
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

.container {
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
}

/* All lists on the page */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* HEADER */
.container {
  outline: 2px solid blue;
}

/* Logo */
.logo-header {
  color: var(--black-title-color);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  display: inline-block;
}
.logo-header span {
  color: var(--accent-color);
}

/* Navigation links */
.site-nav .link {
  color: var(--black-title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .current {
  color: var(--accent-color);
}

/* Contacts in the header */
.contact-link {
  color: inherit;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

/* Hero */
.hero {
  background-color: grey;
  text-align: center;

  outline: 2px solid red;
}

.hero-title {
  color: var(--white-title-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 46px;
}

.hero-button {
  color: var(--white-title-color);
  background-color: var(--accent-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
}

/* Компетенции */

.competencies {
  padding-top: 94px;
}
.competencies .title {
  color: var(--black-title-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 10px;
}

.is-hidden {
  display: none;
}
.competencies .description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin: 0;
}

/* Секция с описанием услуг веб-студии */

.activities {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
  color: var(--black-title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.examples .link {
  color: #fff;
  background: rgba(47, 48, 58, 0.8);
  text-decoration: none;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;

  display: inline-block;
  width: 380px;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
}

/* Наша команда */

.team img {
  margin-bottom: 30px;
}
.team-section {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team .title {
  color: var(--black-title-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 10px;
}

.team p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 28px;
}

.team-links a {
  text-decoration: none;
  color: inherit;
}
.team-links a:hover,
.team-links a:focus {
  color: var(--accent-color);
}
/* Постоянные клиенты */

.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients a {
  text-decoration: none;
  color: inherit;
}

.clients a:hover,
.clients a:focus {
  color: var(--accent-color);
}

/* Футер */

footer {
  background-color: #2f303a;
}

.logo-footer {
  color: var(--white-title-color);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  display: inline-block;
  margin-bottom: 10px;
}
.logo-footer span {
  color: var(--accent-color);
}

.main-address {
  color: var(--white-title-color);

  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.main-address a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.join-title {
  color: var(--white-title-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}
.join a {
  text-decoration: none;
  color: var(--white-title-color);
}
.join a:hover,
.join a:focus {
  color: var(--accent-color);
}

.disclaimer {
  color: rgba(255, 255, 255, 0.4);

  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  text-align: center;
}

/* СТРАНИЦА ПОРТФОЛИО */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Кнопки фильтра */

.filter-menu {
  margin-bottom: 50px;
}
.filter-menu button {
  background-color: #f5f4fa;
  color: var(--black-title-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
}

.filter-menu button:hover,
.filter-menu button:focus,
.filter-menu button:active {
  background-color: var(--accent-color);
  color: #ffffff;
}

/* Список проектов */

.products a {
  text-decoration: none;
  color: inherit;
  outline: 2px solid red;
}
.products img {
  margin-bottom: 20px;
}

.product-name {
  color: var(--black-title-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 20px;
}

.product-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  margin: 0;
}

.product-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
}
